@import "bootstrap/scss/bootstrap";
@import 'normalize.css'; 
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "bootstrap-icons/font/bootstrap-icons.css";

$primary: #ffffff;
$navigation-color: #540b0b;
$navigation-text: #fff;

$heading-font: "Bebas Neue", sans-serif;
$text-font: "Raleway", sans-serif;

.bg-navigationColor {
  background-color: $navigation-color;
}
.color-navigationText {
  color: $navigation-text;
}

/*Styles*/

body {
  background-color: $primary;
  font-family: $text-font;
  min-height: 100vh;
  height: 100%;
}

h1 {
  font-family: $heading-font;
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 20px;
}

.icon__link {
  color: $navigation-text;

  &:hover {
    color: $primary;
  }
}

.navbar-brand {
  color: $navigation-text;
  text-decoration: none;

  &:hover {
    color: $navigation-text;
  }
}
